<div class="container">
  <div>
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-sm-8 col-md-8">
        <div class="row">
          <person-panel :person='person' v-for="person in zone.people"></person-panel>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <p>目標気温:</p>
          <h1 style="color:green;">{{zone.target_temperature}}</h1>
        </div>
        <div class="thumbnail">
          <p>室温:</p>
          <h1 style="color:blue;">{{zone.current_temperature}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
